.icone-mascote {
    position: fixed; /* Fixa a imagem em relação à janela de visualização */
    bottom: 10px; /* Ajuste a posição como preferir */
    right: 10px; /* Ajuste a posição como preferir */
    z-index: 9999; /* Um valor alto para garantir que fique na frente */
}
@media screen and (max-width: 800px) {
    .icone-mascote {
        bottom: 10px;
        right: 30px; 
        width:250px;
    }
}
