
.cabecalho {
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 10vh; /* Altura do cabeçalho, por exemplo, 10% da altura da viewport */
}
.container {
    display: flex;
    align-items: center;
}
.container-separador {
    padding: 0 5px 0 10px; /* Menos espaço à direita do separador */
    color: #000;
    font-size: 24px;
    display: flex;
    align-items: center;
}



.lista-input-titulo {
    cursor: pointer;
    font-size: var(--tamanho-fonte-titulo);
}

.lista-input {
    display: none;
    position: absolute;
    top: 80%;
    left: 67%;
    z-index: 10;
    background-color: var(--cor-de-fundo); /* Cor de fundo branca */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra leve */
    padding: 16px; /* Espaçamento interno */
    list-style-type: none; /* Remove os marcadores de lista */
    margin: 16px 0; /* Margem externa para separar dos outros elementos */
    width: 270px; /* Largura fixa, ajuste conforme necessário */
}
    .lista-input li {
        margin-bottom: 8px; /* Espaço entre os itens da lista */
    }

        .lista-input li:last-child {
            margin-bottom: 0; /* Remove a margem do último item */
        }

    .lista-input input[type="text"] {
        width: 100%; /* Faz o input preencher o espaço disponível */
        padding: 8px; /* Espaçamento interno para o input */
        border: 1px solid #ccc; /* Borda do input */
        border-radius: 4px; /* Bordas arredondadas para o input */
        box-sizing: border-box; /* Garante que padding e border sejam incluídos na largura total */
    }

    .lista-input button {
        background-color: #4CAF50; /* Cor de fundo para o botão 'Salvar' */
        color: white; /* Texto branco */
        padding: 8px 16px; /* Espaçamento interno para o botão */
        border: none; /* Sem borda */
        border-radius: 4px; /* Bordas arredondadas para o botão */
        cursor: pointer; /* Cursor de clique */
        margin-right: 8px; /* Margem à direita para separar dos outros botões */
    }

        .lista-input button:last-child {
            background-color: #f44336; /* Cor de fundo para o botão 'Cancelar' */
        }
.titulo-header {
    width: 150px;
    height: 25px;
    background-position: center;
    margin-top: 15px;
    margin-bottom: 1rem;
    font-size: var(--tamanho-fonte-titulo);
}

.cabecalho-menu-inputLog {
    width: 30px;
    height: 30px;
    background-position: center;
    display: inline-block;
}



.container-botao {
    display: none;
}
    .container-botao:checked + .lista-input-titulo + .lista-input {
        display: block;
    }

@media screen and (max-width: 800px) {
    .lista-input {
        left: 50%; /* Largura menor para telas pequenas */
        width: 260px; /* Largura menor, ajuste conforme necessário */
    }
    .container-separador{
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .lista-input {
        left: 35%; /* Largura ainda menor para telas muito pequenas */
        width: 240px; /* Largura menor, conforme necessário */
    }
    .container-separador {
        display: none;
    }
}
