.section-logs {
    display: flex;
    font-family: 'Arial', sans-serif;
    margin: 3.5rem;
    padding: 3rem 1rem;
    /* A seção principal pode ocupar o restante do espaço */
    height: 80vh; /* ou calc(100vh - altura do cabeçalho - altura do rodapé) */
    overflow: hidden; /* Impede rolagem nesta seção */
}

.logs-sidebar {
    width: 15%; /* Ajuste a largura conforme necessário */
    background: #f2f2f2;
    padding: 10px;
    height: 400px; /* Altura máxima para a barra lateral */
    overflow-y: auto; /* Barra de rolagem vertical se necessário */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 4px;/*ajustando para separar as divs */
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos no cabeçalho da barra lateral */
}

.systems-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    display: flex; /* Exibe os itens da lista como flex itens */
    flex-direction: column; /* Organiza os itens da lista em uma linha */
    gap: 10px; /* Espaço entre os itens da lista, ajuste conforme necessário */
    justify-content: center; /* Centraliza os itens na lista horizontalmente */
    align-items: center; /* Centraliza os itens na lista verticalmente */
    overflow-x: auto; /* Permite rolagem horizontal se a lista for muito larga */
}

.system {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

    .system.active {
        background: red;
        color: white;
    }

.logs-container {
    flex-grow: 1;
    padding: 10px;
    background: white;
    height: 400px; /* Altura máxima para o contêiner de logs */
    overflow-y: auto; /* Barra de rolagem vertical se necessário */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 4px; /*ajustando para separar as divs */
}

.log-entry {
    border-left: 5px solid; /* Cor definida pelas classes de status */
    padding: 5px 10px;
    margin-bottom: 5px;
    position: relative; /* Necessário para posicionar absolutamente o ícone de pesquisa */
}

    .log-entry .time,
    .log-entry .source,
    .log-entry .message {
        display: block; /* Cada elemento em sua própria linha */
    }

    .log-entry.error {
        border-color: #ff0000;
    }

    .log-entry.success {
        border-color: #00ff00;
    }

/* Estilos para o campo de pesquisa e botão de filtro */
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
}

.search-input {
    border: 1px solid #ccc;
    outline: none;
    flex-grow: 1;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px; /* Aumenta a legibilidade */
}
.search-icon {
    position: absolute; /* Posiciona o ícone de forma absoluta dentro da .log-entry */
    right: 2px; /* Espaçamento do lado direito */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centralizar exatamente */
    font-size: 1.3rem; /* Ajuste o tamanho do ícone conforme necessário */
    cursor: pointer;
}

.filter-button {
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 15px; /* Aumenta o padding para corresponder ao do input */
    margin-left: 5px;
}

.search-input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

/* Adicionando ícone personalizado ao select */
.filter-type {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 20px; /* Faz o círculo perfeito */
    padding: 5px 30px 5px 10px; /* Espaço extra à direita para o ícone */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="grey" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: center right 10px; /* Ajusta a posição do ícone para o centro à direita */
    background-size: 30px; /* Tamanho do ícone */
    margin-right: 10px;
    font-size: 16px;
    display: inline-flex; /* Permite o uso de flexbox para centralizar o conteúdo */
    align-items: center; /* Centraliza o ícone verticalmente */
    cursor: pointer;
}
    /* Ajuste para o texto dentro do select para que ele não apareça */
    .filter-type option {
        width: 166px; /* Ajusta o padding à esquerda conforme necessário */
    }

    

.filter-button:hover {
    background-color: #e2e2e2; /* Mudança sutil de cor ao passar o mouse */
}

@media (max-width: 900px) {
    .section-logs {
        flex-direction: column; /* Mantém os elementos lado a lado */
    }

    .logs-sidebar {
        /* Ajuste a largura da sidebar para uma fração da tela ou um valor fixo */
        flex: 1; /* Ajuste esta propriedade conforme necessário */
        height: auto; /* A altura pode ser ajustada para 'auto' */
        width:100%;
    }

    .logs-container {
        /* Ajuste a largura do container de logs para ocupar o espaço restante */
        flex: 3; /* Ajuste esta propriedade conforme necessário */
        height: auto; /* A altura pode ser ajustada para 'auto' */
    }
    .systems-list {
        list-style-type: none;
        padding: 0;
        margin: 0; /* Remova as margens padrão */
        display: flex; /* Exibe os itens da lista como flex itens */
        flex-direction: row; /* Organiza os itens da lista em uma linha */
        gap: 10px; /* Espaço entre os itens da lista, ajuste conforme necessário */
        justify-content: center; /* Centraliza os itens na lista horizontalmente */
        align-items: center; /* Centraliza os itens na lista verticalmente */
        overflow-x: auto; /* Permite rolagem horizontal se a lista for muito larga */
        width: 100%;
    }

    .system {
        cursor: pointer;
        white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    }
}
.filterForm{
    width:100%;
}
@media screen and (max-width: 500px) {
    .filter-button {
        margin-left: -60px;
    }
    .filter-type {
        font-size: 0; /* Oculta o texto */
        padding-right: 37px; /* Ajusta o padding para evitar sobreposição do texto com o ícone */
        background-position: center right 10px; /* Ajusta a posição do ícone */
        background-size: 45px;
        margin-right: 20px;
        outline: none; /* Remove o contorno ao focar */
    }

        /* Estiliza os options para garantir que o texto ainda apareça ao abrir o select */
        .filter-type option {
            font-size: 15px; /* Mostra o texto quando o select é clicado */
            padding-left: 5px; /* Ajusta o padding à esquerda conforme necessário */
        }
    .search-input {
        font-size:14px;
        margin: -35px;
    }
}