.section-logs {
    display: flex;
    font-family: 'Arial', sans-serif;
    margin: 3.5rem;
    padding: 10rem 1rem;
    /* A seção principal pode ocupar o restante do espaço */
    height: 80vh; /* ou calc(100vh - altura do cabeçalho - altura do rodapé) */
    overflow: hidden; /* Impede rolagem nesta seção */
}

.logs-sidebar {
    width: 17%; /* Ajuste a largura conforme necessário */
    background: #f2f2f2;
    padding: 10px;
    height: 50vh; /* Altura máxima para a barra lateral */
    overflow-y: auto; /* Barra de rolagem vertical se necessário */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-right: 4px; /*ajustando para separar as divs */
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os elementos no cabeçalho da barra lateral */
}

.systems-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    display: flex; /* Exibe os itens da lista como flex itens */
    flex-direction: column; /* Organiza os itens da lista em uma linha */
    gap: 10px; /* Espaço entre os itens da lista, ajuste conforme necessário */
    justify-content: flex-start; /* Alinha os itens à esquerda */
    align-items: center; /* Centraliza os itens na lista verticalmente */
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal desnecessária */
}

.system {
    padding: 5px 10px;
    cursor: pointer;
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    flex: 0 0 auto; /* Não permite que os itens da lista cresçam ou encolham */
    margin: 5px; /* Adiciona um pouco de espaço entre os itens */
}

    .system.active {
        background: red;
        color: white;
    }

.logs-container {
    flex-grow: 1;
    padding: 10px;
    background: white;
    height: 50vh; /* Altura máxima para o contêiner de logs */
    overflow-y: auto; /* Barra de rolagem vertical se necessário */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-left: 4px; /*ajustando para separar as divs */
    display: flex; /* Ou 'block', dependendo do layout desejado */
    flex-direction: column; /* Organiza os filhos verticalmente */
}

.log-entry {
    border-left: 5px solid; /* Cor definida pelas classes de status */
    padding: 5px 10px;
    margin-bottom: 5px;
    position: relative; /* Necessário para posicionar absolutamente o ícone de pesquisa */
}

    .log-entry .time,
    .log-entry .source,
    .log-entry .message {
        display: block; /* Cada elemento em sua própria linha */
    }

    .log-entry.error {
        border-color: #ff0000;
    }

    .log-entry.success {
        border-color: #00ff00;
    }

/* Estilos para o campo de pesquisa e botão de filtro */
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    width: 100%; /* Garante que não ultrapasse a largura do container */
    max-width: 100%; /* Impede que o container de pesquisa ultrapasse a largura do seu pai */
    box-sizing: border-box; /* Garante que padding e border sejam incluídos no width */
    margin-bottom: 20px; /* Espaçamento entre o search-container e os logs abaixo */
}

.search-input {
    border: 1px solid #ccc;
    outline: none;
    flex-grow: 1;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px; /* Aumenta a legibilidade */
    max-width: calc(100% - 50px); /* Reduz a largura máxima para acomodar o botão de pesquisa */
}

.search-icon {
    position: absolute; /* Posiciona o ícone de forma absoluta dentro da .log-entry */
    right: 2px; /* Espaçamento do lado direito */
    top: 50%; /* Centraliza verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centralizar exatamente */
    font-size: 1.3rem; /* Ajuste o tamanho do ícone conforme necessário */
    cursor: pointer;
}

.filter-button {
    background: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 15px; /* Aumenta o padding para corresponder ao do input */
    margin-left: 5px;
    flex-shrink: 0; /* Impede que o botão encolha abaixo do tamanho desejado */
}

.search-input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

/* Adicionando ícone personalizado ao select */
.filter-type {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 20px; /* Faz o círculo perfeito */
    padding: 5px 30px 5px 10px; /* Espaço extra à direita para o ícone */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="grey" d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: center right 10px; /* Ajusta a posição do ícone para o centro à direita */
    background-size: 30px; /* Tamanho do ícone */
    margin-right: 10px;
    font-size: 16px;
    display: inline-flex; /* Permite o uso de flexbox para centralizar o conteúdo */
    align-items: center; /* Centraliza o ícone verticalmente */
    cursor: pointer;
}
    /* Ajuste para o texto dentro do select para que ele não apareça */
    .filter-type option {
        width: 166px; /* Ajusta o padding à esquerda conforme necessário */
    }



.filter-button:hover {
    background-color: #e2e2e2; /* Mudança sutil de cor ao passar o mouse */
}



@media (max-width: 1110px) {
    .section-logs {
        flex-direction: column; /* Mantém os elementos lado a lado */
    }

    .logs-sidebar {
        /* Ajuste a largura da sidebar para uma fração da tela ou um valor fixo */
        width: 100%;
        height: 12vh;
    }

    .logs-container {
        /* Ajuste a largura do container de logs para ocupar o espaço restante */
        flex: 3; /* Ajuste esta propriedade conforme necessário */
        height: auto; /* A altura pode ser ajustada para 'auto' */
    }

    .systems-list {
        list-style-type: none;
        padding: 0;
        margin: 0; /* Remova as margens padrão */
        display: flex; /* Exibe os itens da lista como flex itens */
        flex-direction: row; /* Organiza os itens da lista em uma linha */
        gap: 10px; /* Espaço entre os itens da lista, ajuste conforme necessário */
        justify-content: center; /* Centraliza os itens na lista horizontalmente */
        align-items: center; /* Centraliza os itens na lista verticalmente */
        overflow-x: auto; /* Permite rolagem horizontal se a lista for muito larga */
        width: 100%;
        margin-top: 20px; /* Adiciona 20px de margem no topo para telas pequenas */
    }

    .search-container {
        margin-bottom: 20px; /* Adiciona 20px de margem na parte inferior para telas pequenas */
    }

    .system {
        cursor: pointer;
        white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    }
}

.filterForm {
    width: 100%;
}


@media screen and (max-width: 500px) {

    .filter-button {
        margin-left: -10px; /* Mantém a margem à direita */
    }

    .filter-type {
        font-size: 0; /* Oculta o texto */
        padding: 0; /* Remove o padding */
        border: none; /* Remove a borda */
        background-color: transparent; /* Mantém o fundo transparente */
        width: 45px; /* Define uma largura para o seletor */
        height: 45px; /* Define uma altura para o seletor */
        background-position: center; /* Centraliza a seta para baixo */
        background-size: 6vh; /* Aumenta o ícone. Ajuste o valor percentual conforme desejado */
        margin-right: 1px; /* Mantém a margem à direita */
        outline: none; /* Remove o contorno ao focar */

        cursor: pointer;
    }

        .filter-type::after {
            content: '';
            display: inline-block;
            width: 100%; /* Faz o ícone de seta se estender para o tamanho total do container */
            height: 100%; /* Faz o ícone de seta se estender para o tamanho total do container */
            background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="grey" d="M7 10l5 5 5-5z"/></svg>') no-repeat center center;
            background-size: cover; /* Garante que o ícone cubra todo o espaço disponível */
        }

        /* Estiliza os options para garantir que o texto ainda apareça ao abrir o select */
        .filter-type option {
            font-size: 15px; /* Mostra o texto quando o select é clicado */
            padding-left: 5px; /* Ajusta o padding à esquerda conforme necessário */
        }

    .search-input {
        font-size: 14px;
        margin: 0; /* Ajusta a margem se necessário */
        width: calc(100% - 50px); /* Ajusta a largura para considerar o botão de pesquisa */
    }

    .systems-list {
        font-size: 13px;
        margin: 1px;
        padding: 1px;
    }
}

@media screen and (max-width: 1110px) {
    .icone-mascote {
        bottom: 10px;
        right: 10px;
        width: 14vh;
    }

    .section-logs {
        height: 85vh;
        margin: 0.5rem;
        padding: 6rem 1rem;
    }

    .systems-list {
        font-size: 14px;
        padding: 1px;
        margin: -1px;
    }

    .logs-container {
        height: 85vh;
    }
}
