@using ConsoleLog.Models
@model LogsViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Header.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link rel="stylesheet" href="~/css/Sections.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>
<body>
    <header class="cabecalho">
        <div class="container">
            <p class="titulo-header">DetetiveLog</p>
        </div>
        <div class="container container-separador">
        </div>
        <p style="font-size:27px;  margin-top:15px; margin-bottom: 1rem;">|</p>
        <div class="container container">
            <input type="checkbox" id="inputLog" class="container-botao" />
            <label for="inputLog" class="lista-input-titulo"> + Add Log Path</label>
            <ul class="lista-input">
                <li>
                    System name: <input type="text" id="nomeSistema" />
                </li>
                <li>
                    System path: <input type="text" id="caminhoArquivo" />
                </li>
                <li class="button-container">
                    <button type="button" id="saveButton">Save</button>
                    <button type="button" id="cancelButton">Cancel</button>
                </li>
            </ul>
        </div>
    </header>

    <section class="section-information" style="text-align: right; padding-right: 1rem;">
        <button id="toggleLogsUpdate" class="toggle-logs-update">
            <i class="fas fa-play"></i>
            <p>Ativar Visualização em Tempo Real</p>
        </button>
    </section>


<section class="section-logs" style="padding:1rem 0.5rem; margin: 1.5rem">
    <div class="logs-sidebar">
        <div class="sidebar-header">
            <p style="align-items:center; font-size:20px; font-weight:bold;">Added Systems</p>
        </div>
        <ul class="systems-list">
           
                @if (Model.ListSistemas.Any())
                {
                    @foreach (var system in Model.ListSistemas)
                    {
                        <li class="system">
                            @system.NomeSistema
                            <button type="button" class="delete-system-button" data-system="@system.NomeSistema">
                            </button>
                            <i class="fas fa-trash"></i>

                        </li>
                    }
                }
            
        </ul>
    </div>
    <br />

        @{
            Html.RenderPartial("SearchLog", Model);
        }

</section>

    <footer class="footer">
        <div class="container">
            <img src="img/mascote-preview.png" class="icone-mascote" />
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script type="text/javascript">
        var selecioneSistemaUrl = '@Url.Action("SearchLog", "Home")';

        
    </script>
    <script src="~/js/LogJS.js" ></script>
    @await Component.InvokeAsync("Notyf")

</body>
</html>

