@using ConsoleLog.Models
@model LogsViewModel


<div class="logs-container">
    <div class="search-container" id="filterForm">
        <select id="filterType" name="filterType" class="filter-type">
            <option value="Status">Status</option>
            <option value="Descricao">Descrição</option>
            <option value="Date">Data</option>
        </select>
        <input type="search" id="filterValue" name="filterValue" placeholder="Digite o valor do filtro" class="search-input">
        <button type="button" id="searchButton" class="filter-button">
            <i class="fas fa-search"></i>
        </button>
    </div>


    @if (Model.ListLogs != null && Model.ListLogs.Any())
    {

        foreach (var log in Model.ListLogs)
        {
            <div class="log-entry @(log.StatusCode == 200 ? "success" : "error")">
                <span class="time">@log.HorarioLog.ToString("HH:mm dd/MM/yyyy")</span>
                <span class="source">@log.Client</span>
                <span class="message">@log.DescricaoLog</span>
                <span style="cursor:pointer" class="search-icon"><i class="fas fa-search"></i></span> <!-- Ícone de pesquisa adicionado aqui -->
            </div>
        }
    }


</div>

@await Component.InvokeAsync("Notyf")
